<header>
  <div class="topMenuWrapper">
    <div id="topMenu">
      <div
        class="option"
        routerLink="/find-jobs"
        routerLinkActive="activeOption"
      >
        <a>Find jobs</a>
      </div>
      <div
        class="option"
        routerLink="/"
        routerLinkActive="activeOption"
        [routerLinkActiveOptions]="{ exact: true }"
      >
        <a>Employers / Post Job</a>
      </div>
      <div class="login" routerLink="/login" routerLinkActive="activeOption">
        <a>My Account</a>
      </div>
    </div>
  </div>

  <div id="mainMenu">
    <a routerLink="/" class="logo">
      <span class="logoPartOne">MEOW </span>
      <span class="logoPartTwo">Ltd.</span>
    </a>

    <div class="rightMenu">
      <div id="menuOptions">
        <a routerLink="/" class="menuItem">Home</a>
        <a routerLink="/about" class="menuItem">About</a>
        <a routerLink="/pricing" class="menuItem">Pricing</a>
        <a routerLink="/contact" class="menuItem">Contact</a>
      </div>

      <div class="demoButton">
        Book a demo
      </div>
      <div id="burgerMenu" (click)="menuClicked()">
        <div
          id="lineOne"
          [ngClass]="{
            lineTest: menuOpen,
            line: !menuOpen
          }"
        ></div>
        <div
          id="lineTwo"
          class="line"
          [ngClass]="{
            lineTest: menuOpen,
            line: !menuOpen
          }"
        ></div>
      </div>
    </div>
  </div>
</header>
