header {
  box-shadow: 1px 1px 20px -13px;
}

.topMenuWrapper {
  width: 100%;
  height: 40px;
  background-color: #f7f7f8;
}

#topMenu {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  font-family: "Roboto";
  font-size: 13px;
  font-weight: 300;
  color: #4a4a4a;
}

.option {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
  padding: 0px 15px;
  border-bottom: solid 5px #f7f7f8;
}

.login {
  display: none;
  border-bottom: solid 5px #f7f7f8;
}

.activeOption {
  height: 100%;
  border-bottom: solid 5px #0099ff;
  font-family: "Roboto";
  font-weight: 700;
}

#mainMenu {
  width: 100%;
  height: 70px;
  display: flex;
  background-color: white;
  align-items: center;
  justify-content: space-between;
  position: relative;
}

.logo {
  border-bottom: solid 5px #4a4a4a;
  margin-left: 15px;
}

.logoPartOne {
  color: #ef8686;
  font-family: "Roboto";
  font-size: 20px;
  font-weight: 700;
}

.logoPartTwo {
  color: #4a4a4a;
  font-family: "Roboto";
  font-size: 20px;
}

.rightMenu {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 15px;
}

.menuOptions {
  display: none;
  font-family: "roboto";
  font-size: 16px;
  font-weight: 400;
}

.menuDropDown {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  top: 70px;
  left: 0;
  right: 0;
  height: 160px;
  width: 100%;
  background-color: #ef8686;
  border-radius: 0px 0px 13px 13px;
  z-index: 1;
}

.menuItem {
  margin: 10px;
  color: white;
}

.demoButton {
  height: 40px;
  width: 120px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 15px;
  font-family: "roboto";
  font-weight: 300;
  background-color: #ef8686;
  color: white;
  border-radius: 10px;
  box-shadow: 10px 10px 10px 1px #eaeaea;
  margin: 0px 15px 0px 5px;
  cursor: pointer;
}
.demoButton:hover {
  transform: translate(1px, 1px);
  box-shadow: 8px 7px 7px 1px #eaeaea;
}

.line {
  width: 26px;
  height: 4px;
  background-color: #4a4a4a;
  margin: 5px;
  border-radius: 2px;
  transition: 0.2s linear;
}
/*TODO improve the translation as the cross is very subtly off*/
.lineOneRotate {
  transform: rotate(45deg) translate(1px, 8px);
  width: 26px;
  height: 4px;
  background-color: #4a4a4a;
  margin: 5px;
  border-radius: 2px;
  transition: 0.2s linear;
}

.lineTwoRotate {
  transform: rotate(-45deg) translate(-2px, -6px);
  width: 26px;
  height: 4px;
  background-color: #4a4a4a;
  margin: 5px;
  border-radius: 2px;
  transition: 0.2s linear;
}

@media (min-width: 350px) {
  .demoButton {
    width: 140px;
    font-size: 16px;
  }

  .logoPartOne {
    font-size: 24px;
  }

  .logoPartTwo {
    font-size: 24px;
  }
}

@media (min-width: 600px) {
  .option {
    width: auto;
    justify-content: flex-start;
    padding: 0px 15px 0px 5px;
    margin: 0px 15px;
  }

  .login {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: auto;
    margin-right: 15px;
    padding: 0px 5px 0px 15px;
  }

  header {
    box-shadow: none;
  }

  #mainMenu {
    background: none;
  }

  #burgerMenu {
    display: none;
  }

  .menuOptions {
    display: inline-block;
  }

  .menuItem {
    color: #4a4a4a;
  }

  #demoButton {
    margin: 0 5px;
  }
}

@media (min-width: 800px) {
}

@media (min-width: 1000px) {
  #topMenu {
    width: 990px;
    margin: auto;
    padding: 0px 15px;
  }

  #mainMenu {
    width: 960px;
    margin: auto;
  }
}
