<header>
  <div class="topMenuWrapper">
    <div id="topMenu">
      <div id="option1">Find jobs</div>
      <div id="option2" class="activeOption">Employers / Post Job</div>
      <div id="login">My Account</div>
    </div>
  </div>

  <div id="mainMenu">
    <a routerLink="/" id="logo">
      <span id="logoPartOne">MEOW</span>
      <span id="logoPartTwo">Ltd.</span>
    </a>

    <div class="rightMenu">
      <div id="menuOptions">
        <a class="menuItem">Home</a>
        <a class="menuItem">About</a>
        <a class="menuItem">Pricing</a>
        <a class="menuItem">Contact</a>
      </div>

      <div id="demoButton">
        Book a demo
      </div>
      <div id="burgerMenu">
        <div id="lineOne" class="line"></div>
        <div id="lineTwo" class="line"></div>
      </div>
    </div>
  </div>
</header>
