<div id="homeWrapper">
  <div id="leftSideWrapper">
    <div id="introHeading">
      <h1>Using technology to disrupt recruitment</h1>
    </div>

    <div id="benefitList">
      <div class="benefit">
        <div class="tickIcon"></div>
        <span>Intelligent matching algorithm</span>
      </div>

      <div class="benefit">
        <div class="tickIcon"></div>
        <span>Video interview technology</span>
      </div>

      <div class="benefit">
        <div class="tickIcon"></div>
        <span>Applicant management portal</span>
      </div>

      <div class="benefit">
        <div class="tickIcon"></div>
        <span>Customisable dashboard</span>
      </div>

      <div class="benefit">
        <div class="tickIcon"></div>
        <span>Fixed fee recruitment</span>
      </div>
    </div>

    <div class="mainDemoButton">
      Book a demo
    </div>
  </div>

  <div id="videoLink">
    <div id="videoLinkIcon">
      <div id="blueCircle">
        <div id="playIcon"></div>
      </div>
    </div>
    <div id="videoText">
      How it works
    </div>
  </div>

  <div id="videoBox"></div>
  <div id="videoBackgroundOne"></div>
  <div id="videoBackgroundTwo"></div>
  <div id="videoBackgroundThree"></div>
</div>

<div id="trustedWrapper">
  <div id="trustedSection">
    <span>Trusted by:</span>
    <div id="boxWrapper">
      <div class="box"></div>
      <div class="box"></div>
    </div>
  </div>
</div>
