#introHeading {
}

h1 {
  margin: 20px 15px;
  font-family: "Merriweather";
  font-size: 40px;
  line-height: 48px;
  color: #4a4a4a;
}

#benefitList {
  font-family: "roboto";
  font-size: 16px;
  font-weight: 350;
  line-height: 24px;
  color: #4a4a4a;
}

.benefit {
  display: flex;
  align-items: center;
}

.benefitText {
}

.tickIcon {
  margin: 7px 15px;
  height: 30px;
  width: 30px;
  border-radius: 50%;
  background-color: #86efa5;
}

.mainDemoButton {
  width: 200px;
  height: 50px;
  background-color: #ef8686;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 20px;
  font-family: "roboto";
  font-weight: 300;
  box-shadow: 10px 10px 10px 1px #eaeaea;
  margin: 20px 15px;
  cursor: pointer;
}
.mainDemoButton:hover {
  transform: translate(1px, 1px);
  box-shadow: 8px 7px 7px 1px #eaeaea;
}

#videoLink {
  display: flex;
  margin-left: 15px;
}

#blueCircle {
  height: 30px;
  width: 30px;
  border-radius: 50%;
  background-color: #0099ff;
  display: flex;
  justify-content: center;
  align-items: center;
}

#playIcon {
  width: 0;
  height: 0;
  border-top: 7px solid transparent;
  border-bottom: 7px solid transparent;
  border-left: 10px solid white;
  border-radius: 2px;
  margin-left: 2px;
}

#videoText {
  color: #0099ff;
  font-family: "roboto";
  font-size: 20px;
  line-height: 28px;
  font-weight: 350;
  text-decoration: underline;
  margin: 0 10px;
}

#videoBox {
  display: none;
  width: 250px;
  height: 150px;
  border-radius: 15px;
  background-color: #0099ff;
  box-shadow: 10px 10px 10px 1px #eaeaea;
}

#videoBackgroundOne {
  display: none;
  width: 200px;
  height: 120px;
  border-radius: 15px;
  background-color: #f5a623;
  opacity: 0.2;
  box-shadow: 10px 10px 10px 1px #eaeaea;
}
#videoBackgroundTwo {
  display: none;
  width: 200px;
  height: 120px;
  border-radius: 15px;
  background-color: #86efa5;
  opacity: 0.3;
  box-shadow: 10px 10px 10px 1px #eaeaea;
}
#videoBackgroundThree {
  display: none;
  width: 160px;
  height: 90px;
  border-radius: 15px;
  background-color: #ef8686;
  opacity: 0.2;
  box-shadow: 10px 10px 10px 1px #eaeaea;
}

#trustedWrapper {
  background-color: #a1a3a6;
  width: 100%;
  padding: 20px 0px;
  margin-top: 50px;
}

#trustedSection {
  width: 100%;
  background-color: #a1a3a6;
  font-family: "roboto";
  color: white;
  font-weight: 300;
  font-size: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#boxWrapper {
  display: flex;
}

.box {
  margin: 10px 7px;
  width: 150px;
  height: 40px;
  border: 4px solid white;
}

@media (max-width: 350px) {
  .box {
    width: 130px;
    height: 35px;
  }
}

@media (min-width: 600px) {
  #leftSideWrapper {
    width: 380px;
  }

  #videoLink {
    display: none;
  }
  #homeWrapper {
    position: relative;
  }
  #videoBox {
    position: absolute;
    display: inline-block;
    right: 40px;
    top: 80px;
    z-index: 4;
  }
  #videoBackgroundOne {
    position: absolute;
    display: inline-block;
    right: 120px;
    top: 90px;
  }
  #videoBackgroundTwo {
    position: absolute;
    display: inline-block;
    right: 20px;
    top: 60px;
  }
  #videoBackgroundThree {
    position: absolute;
    display: inline-block;
    right: 20px;
    top: 200px;
  }

  .aboutContent {
    width: 540px;
  }

  #trustedSection {
    flex-direction: row;
    justify-content: flex-start;
    padding-left: 15px;
  }
}

@media (min-width: 800px) {
  #videoBox {
    right: 60px;
    top: 80px;
    width: 300px;
    height: 180px;
  }
  #videoBackgroundOne {
    right: 170px;
    top: 90px;
    width: 240px;
    height: 150px;
  }
  #videoBackgroundTwo {
    right: 40px;
    top: 40px;
    width: 240px;
    height: 150px;
  }
  #videoBackgroundThree {
    right: 30px;
    top: 200px;
    width: 190px;
    height: 120px;
  }
}

@media (min-width: 960px) {
  #homeWrapper {
    width: 960px;
    margin: auto;
  }
  #trustedSection {
    width: 960px;
    margin: auto;
  }
}
