/* You can add global styles to this file, and also import other style files */

@import url("https://fonts.googleapis.com/css?family=Merriweather:900i&display=swap");
@import url("https://fonts.googleapis.com/css?family=Roboto:400,700,300&display=swap");

html,
body {
  margin: 0;
  padding: 0;
}
* {
  box-sizing: border-box;
  text-decoration: none;
  outline: none;
}

a {
  cursor: pointer;
}
