<div id="aboutSection">
  <h2>Who are we?</h2>
  <p class="aboutContent">
    Meow ltd. is an online marketplace helping employers find top talent faster
    with no agency fees. By personalising recruitment, Meow ltd. gives
    candidates a voice beyond just a CV, making it easier for employers to match
    quickly and find the best fit.
  </p>

  <div id="showcaseArea">
    <div class="showcase firstShowcase">
      <div class="whiteBox">
        <div class="icon"></div>

        <h3>Save time</h3>

        <p>
          Set your hiring criteria and Meow ltd. are able to share qualifying
          candidates within hours saving you time and money.
        </p>
      </div>

      <div class="bottomBox">
        <p class="bottomBoxText">
          Utilising proprietary technology to search and match the best
          candidates for your role.
        </p>
      </div>
    </div>

    <div class="showcase">
      <div class="whiteBox">
        <div class="icon"></div>

        <h3>Improve reach</h3>

        <p>
          We have integrated with major job boards to improve reach but also
          with niche job boards, blogs, and content websites.
        </p>
      </div>

      <div class="bottomBox">
        <p class="bottomBoxText">
          Leveraging unique reach within key universities and career groups.
        </p>
      </div>
    </div>

    <div class="showcase ">
      <div class="whiteBox">
        <div class="icon"></div>

        <h3>Fixed price</h3>

        <p>
          Unlike a traditional agency, we offer a fixed price model allowing you
          to control your hiring costs saving on recruitment fees.
        </p>
      </div>

      <div class="bottomBox">
        <p class="bottomBoxText">
          Enabling you to save your business time and other internal costs.
        </p>
      </div>
    </div>
  </div>

  <div id="showcaseSelector">
    <div class="dot activeDot"></div>
    <div class="dot"></div>
    <div class="dot"></div>
  </div>

  <div id="learnMore">
    <div id="learnMoreIcon"></div>
    <a id="learnMoreText" href="#">Learn a little more</a>
  </div>
</div>
